InlineFunctions/*
	../lab01/exercise1/.vscode/
	../lab01/exercise2/.vscode/
	../lab01/exercise2/pwd_chkr
	../lab01/exercise3/.vscode/
	../lab01/exercise3/linked
	../lab01/exercise4/.vscode/
	Assesment/
	bit_ops
	ex3_makefile.txt
	ex4_makefile.txt
	linked_list
	vecto
